/*
declaration block:
selector{
    property: value;
    propery2: value;
}
*/

body{
    background-color:rgb(8, 100, 100);
    color:black;
}

nav{
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

footer{
    text-align: center;
    margin-right: 200px;
}

#memeImage{
    margin-right: 200px;
    width: 1000px;
}

h1{
    text-align: center;
}
